doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, intial-scale=1")
  meta(name="author" content="{NAME HERE}")
  meta(name="description" content="{DESCRIPTION HERE}")
  meta(name="keywords" content="{KEYWORDS HERE}")
  meta(name="revised" content="Name, 0/0/0")
  title {TITLE GOES HERE}
  link(rel="stylesheet" type="text/css" href="{location}")
  //build:js(working/src/) js/main.min.js
  //endbuild
body
  include _components/header.pug
  include _components/main.pug
